.tableWrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    margin-left: 3%;
}

.tablePage :hover {
    cursor: pointer;
}

.tableText {
    color: chartreuse;
    font-size: x-large;
}

.tableLink {
    color: red;
    font-size: x-large;
    text-decoration: none;
}

.tableStyles {
    width: 700px;
    height: 700px;
    border-color: floralwhite;
    border-style: solid;
}