* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  background-image: url('./assets/fonk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 43px;
}
